@import "core/font";
@import "core/var";
@import "core/rocket";
@import "core/massive";
@import "core/background";

@mixin offset($r, $c, $m) {
    top: $step * ($r * $m - 2);
    left: $step * ($c * $m - 2);
}

@mixin oGroup($r, $c) {
    &.background{@include offset($r, $c, .1);}
    &.massive{@include offset($r, $c, .25);}
    &.front{@include offset($r, $c, 0.5);}
} 

@mixin column($r) {
    &.c0:hover ~ .layer {@include oGroup($r, -2);}
    &.c1:hover ~ .layer {@include oGroup($r, -1);}
    &.c2:hover ~ .layer {@include oGroup($r, 0);}
    &.c3:hover ~ .layer {@include oGroup($r, 1);}
    &.c4:hover ~ .layer {@include oGroup($r, 2);}
}

html,body {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;

    .layer {
        position: absolute;
        width: $planeWidth;
        height: $planeHeight;
        top: -($planeHeight - 100) / 2;
        left: -($planeWidth - 100) / 2;
        transition: top $durLong ease, left $durLong ease;
    }

    // ######################################
    // the mine field is a bunch of divs which give me the position of the cursor
    .m {
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        height: 20%;
        display: block;
        z-index: $zIndexMineField;

        &.r1 {top: 20%;}
        &.r2 {top: 40%;}
        &.r3 {top: 60%;}
        &.r4 {top: 80%;}
        &.c1 {left: 20%;}
        &.c2 {left: 40%;}
        &.c3 {left: 60%;}
        &.c4 {left: 80%;}

        &.r0 {@include column(-2);}
        &.r1 {@include column(-1);}
        &.r2 {@include column(0);}
        &.r3 {@include column(1);}
        &.r4 {@include column(2);}
    }

    .background {
        @include background();
    }

    .front {
        @include rocket();
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .massive {
        @include massive();
    }
}
