@import "core/font";
@import "core/var";
@import "core/button";
@import "core/stator";

@mixin offset($r, $c, $m) {
    top: $step * ($r * $m - 2);
    left: $step * ($c * $m - 2);
}

@mixin oGroup($r, $c) {
    &.back{@include offset($r, $c, .1);}
    &.massive{@include offset($r, $c, .25);}
    &.front{@include offset($r, $c, 0.5);}
} 

@mixin column($r) {
    &.c0:hover ~ .layer {@include oGroup($r, -2);}
    &.c1:hover ~ .layer {@include oGroup($r, -1);}
    &.c2:hover ~ .layer {@include oGroup($r, 0);}
    &.c3:hover ~ .layer {@include oGroup($r, 1);}
    &.c4:hover ~ .layer {@include oGroup($r, 2);}
}

@mixin earthParkposition() {
    top: 100vh;
    right: 100vw;
}

@mixin moonPosition() {
    bottom: 70vh;
    left: 70vw;
}

html,body {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;

    .layer {
        position: absolute;
        width: 120%;
        height: 120%;
        top: -10%;
        left: -10%;
        transition: top 1s ease, left 1s ease;
    }

    // ######################################
    // the mine field is a bunch of divs which give me the position of the cursor
    .m {
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        height: 20%;
        display: block;
        z-index: $zIndexMineField;

        &.r1 {top: 20%;}
        &.r2 {top: 40%;}
        &.r3 {top: 60%;}
        &.r4 {top: 80%;}
        &.c1 {left: 20%;}
        &.c2 {left: 40%;}
        &.c3 {left: 60%;}
        &.c4 {left: 80%;}

        &.r0 {@include column(-2);}
        &.r1 {@include column(-1);}
        &.r2 {@include column(0);}
        &.r3 {@include column(1);}
        &.r4 {@include column(2);}
    }

    .back {
        background-image: url("assets/space.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .front {
    
        .rocket {
            display: block;
            position: absolute;

            top: 25%;
            width: 30%;
            height: 30%;
            left: 50%;

            width: 20vmin;
            height: 110.6vmin;

            transform: scale(.5) rotate(-45deg);

            .rocketPart {
                width: 100%;
                height: 100%;
                display: block;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;

                animation-duration: 3s;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
            }

            .s1 {
                background-image: url("assets/s1.svg");
            }
            
            .s2 {
                background-image: url("assets/s2.svg");
            }

            .s3 {
                background-image: url("assets/s3.svg");
            }

            .sm {
                background-image: url("assets/sm.svg");
            }

            .lm {
                background-image: url("assets/lm.svg");
            }

            .cm {
                background-image: url("assets/cm.svg");
            }
            
            .f1 {
                background-image: url("assets/f1.svg");
            }

            .f2 {
                background-image: url("assets/f2.svg");
            }

            .f3 {
                background-image: url("assets/f3.svg");
            }
        }

        .flame {
            display: block;
            width: 10vmin;
            height: 25.5vmin;
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("assets/flame.svg");

            opacity: 0;
            display: none;
            animation: flame $dur infinite, fade 1s 2s 1 forwards;

            $fireDelay: 1s;

            &.flame1 {
               animation-delay: $fireDelay;
            }
            &.flame2 {
                animation-delay: $fireDelay - .06s;
            }
            &.flame3 {
                animation-delay: $fireDelay - .12s;
            }
        }
    }

    // ######################################
    // the earth
    .massive {
        .earth {
            $earthSize: 100vmin;
            width: $earthSize;
            height: $earthSize;
            background-image: url("assets/earth.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            position: absolute;
            // by default the earth is not parked
            top: 50vh;
            right: 65vw;
            animation: rotate 60s * 5 infinite linear;
            transition: all $dur ease;
        }

        .moon {
            $earthSize: 70vmin;
            width: $earthSize;
            height: $earthSize;
            background-image: url("assets/moon.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            position: absolute;
            // by default the earth is not parked
            bottom: 100vh;
            left: 100vw;
            animation: rotate 60s * 5 infinite linear;
            transition: all $dur ease; 
        }
    }

    #stateEarth {
        &:focus ~ .massive {

        }
    }

    #stateTransfer {
        &:focus ~ .massive {
            .earth {
                @include earthParkposition();
            }
        }
    }
    
    #stateMoon {
        &:focus ~ .massive {
            .earth {
                @include earthParkposition();
            }
            .moon {
                @include moonPosition();
            }
        }
    }
}

@keyframes flame {
    50% {transform: scale(1, 1.05) translateY(10px)}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}