@import "var";
@import "stator";

@mixin filledButton() {
    background-color: $primary;
    border: 5px $primary solid;
    color: $contrast;
}

@mixin emptyButton() {
    background-color: transparent;
    border: 5px $primary solid;
    color: $primary;
}

@mixin buttonSizing($width) {
    width: $width;

    &#stateEarth {
        left: calc(50vw - #{$width / 2 + $width + $spacing});
    }

    &#stateTransfer {
        left: calc(50vw - #{$width / 2});
    }

    &#stateMoon {
        left: calc(50vw + #{$width / 2 + $spacing});
    }
}

// ######################################
// the state machine works by using the focused event of buttons
butt2on {
    $baseSize: 100px;

    position: absolute;
    bottom: 0;
    z-index: $zIndexButtons;
    border-radius: 10px;
    height: $baseSize;
    background-color: $primary;

    border-width: 5px;
    display: block;
    border: none;
    transition: color $dur ease, background-color $dur ease;
    bottom: $spacing;

    @include emptyButton();

    &:focus {
        border: none;
        outline: none;
        animation: buttonPulse 3 * $dur infinite alternate ease;
    }

    @include buttonSizing($baseSize);

    @media (min-width: $break-s){

    }

    @media (min-width: $break-m){
        @include buttonSizing($baseSize + 50);
    }

    @media (min-width: $break-l){
        @include buttonSizing($baseSize + 50);
    }

    @media (min-width: $break-xl){
        @include buttonSizing($baseSize + 75);
    }
}

.progress {
    position: absolute;
    top: 12px;
    left: 36px;
    width: 1px;
    background-color: $primary;
    height: calc(100% - 24px);
    z-index: $zIndexButtons;

    &.current {
        width: 3px;
        left: 35px;
        animation-name: progress;
        animation-duration: 10s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
}

button {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    position: absolute;
    left: 12px;
    z-index: $zIndexButtons;
    background-color: $primary;
    display: block;
    transition: color $dur ease, background-color $dur ease;
    border: none;
    color: $contrast;

    &:focus {
        border: none;
        outline: none;
    }

    &::after {
        content: "Test";
        color: $primary;
        transform: translateX(48px);
        display: block;
    }
}

$buttons: 4;
@for $i from 0 through $buttons {
    button:nth-of-type(#{$i + 1}) {
        top: calc(#{$i * (100% / $buttons)} + 12px);
    }
}


#stateEarth {
    &:focus ~ .front {
        @include s1();        
    }
}

#stateTransfer {
    &:focus ~ #stateEarth {
        @include filledButton();
    }
    &:focus ~ .front {
        @include s2();        
    }
}

#stateMoon {
    &:focus ~ #stateEarth {
        @include filledButton();
    }
    &:focus ~ #stateTransfer {
        @include filledButton();
    }
    &:focus ~ .front {
        @include s3();        
    }
}

#test1 {
    &:focus ~ .front {
        @include smBuild();        
    }
}

@keyframes buttonPulse {
    from {@include emptyButton()}
    to {@include filledButton()}
}

@keyframes progress {
    from {height: 0;}
}