@import "var";
@import url('https://fonts.googleapis.com/css?family=Poppins');

tr {
  font-family: 'Lobster Two', sans-serif;
  font-family: 'Poppins';
  font-size: 2*$base;
}

@media (min-width: $break-s){
    tr{
        font-size: 2*$base;
    }
}
@media (min-width: $break-m){
    tr{
        font-size: 3*$base;
    }
}
@media (min-width: $break-l){
    tr{
        font-size: 3*$base;
    }
}
@media (min-width: $break-xl){
    tr{
        font-size: 4*$base;
    }
}