@mixin massive() {
    div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        position: absolute;
        animation: rotate 60s * 5 infinite linear;
        transition: all $dur ease;
    }

    .earth {
        $earthSize: 100vmin;
        width: $earthSize;
        height: $earthSize;
        background-image: url("assets/earth.svg");
        top: 80vh;
        right: 60vw;
    }

    .moon {
        $earthSize: 40vmin;
        width: $earthSize;
        height: $earthSize;
        background-image: url("assets/moon.svg");
        bottom: 90vh;
        left: 90vw;
    }
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}