$flameHeight: 25.5vmin;
$flameWidth: 10vmin;
$flameStretch: 0.05;
$rocketWidth: 20vmin;
$rocketHeight: 110.6vmin;

@mixin rocket() {

    .rocket {
        display: block;
        position: absolute;
        left: calc(#{$planeWidth / 2} - #{$rocketWidth / 2});
        top: calc(#{$planeHeight / 2} - #{$rocketHeight / 2});
        width: $rocketWidth;
        //height: $rocketHeight;
        transform: rotate(-15deg);

        z-index: $zIndexRocket;

        .rocketPart {
            width: 100%;
            display: block;
            transition: margin $dur, transform 2s;
            border: none;
            position: relative;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: transparent;

            animation-fill-mode: forwards;
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;

            .print {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: block;
                width: 100%;
                height: 100%;
            }

            &:hover {
                margin: 1vmin 0;
            }

            &:focus {
                outline: none;
            }

            &.escape {
                background-image: url("assets/escape.svg");
                height: 7.9vmin;
            }

            &.cm {
                height: 3.1vmin;
                background-image: url("assets/cm.svg");
            }

            &.lm {
                height: 7vmin;
                background-image: url("assets/lm.svg");
            }

            &.sm {
                height: 4.7vmin;
                background-image: url("assets/sm.svg");
              
            }

            &.s3 {
                height: 12.2vmin;
    
                .print {
                    height: 17vmin;
                    background-image: url("assets/s3.svg");
                }
            }

            &.f2 {
                height: 6.8vmin;
                background-image: url("assets/f2.svg");
 
            }

            &.s2 {
                height: 18.9vmin;
                .print {
                    height: 24.6vmin;
                    background-image: url("assets/s2.svg");
                }

                &:focus ~ .f1 {
                    @include drop2();
                }
                &:focus ~ .s1 {
                    @include dropS2();
                }
            }

            &.f1 {
                height: 6.1vmin;
                background-image: url("assets/f1.svg");

                &:focus ~ .s1 {
                    @include dropS2();
                }
            }

            &.s1 {
                height: 42.3vmin;
                background-image: url("assets/s1.svg");
                .flame {
                    top: 100%;
                    display: block;

                    $centerFlame: $rocketWidth / 2 - $flameWidth / 2;
                    $offsetFlame: 4vmin;

                    &.flame1 {
                        left: $centerFlame;
                    }

                    &.flame2 {
                        left: $centerFlame - $offsetFlame;
                    }

                    &.flame3 {
                        left: $centerFlame + $offsetFlame;
                    }
                }
            }
        }
        
        .flame {
            width: $flameWidth;
            height: $flameHeight;
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("assets/flame.svg");
            
            opacity: 0;
            display: none;
            animation: flame $dur infinite, fade 1s 2s 1 forwards;

            $fireDelay: .5s;

            &.flame1 {
               animation-delay: $fireDelay;
            }
            &.flame2 {
                animation-delay: $fireDelay - .06s;
            }
            &.flame3 {
                animation-delay: $fireDelay - .12s;
            }
        }
    }
}

@mixin scaleRocket($scale) {
    .rocket {
        $scaledWidth: $rocketWidth * $scale;
        $scaledHeight: $rocketHeight * $scale;

        width: $scaledWidth;
        height: $scaledHeight;

        left: calc(#{$planeWidth / 2} - #{($scaledWidth / 2)});
        top: calc(#{$planeHeight / 2} - #{($scaledHeight / 2)});

        .flame {
            $scaledFlameWidth: $flameWidth * $scale;
            $scaledFlameHeight: $flameHeight * $scale;
            $scaledCenterFlame: $scaledWidth / 2 - $scaledFlameWidth / 2;

            display: block; // retriggers the animation
            top: $scaledHeight;
            width: $scaledFlameWidth;
            height: $scaledFlameHeight;

            $scaledFlameAnimation: rocketFlame + (10 * $scale);
            animation: $scaledFlameAnimation $dur infinite, fade 1s 2s 1 forwards;

            @keyframes #{$scaledFlameAnimation} {
                50% {transform: scale(1, 1 + $flameStretch) translateY($scaledFlameHeight * $flameStretch / 2)}
            }

            &.flame1 {
                left: $scaledCenterFlame;
            }
            &.flame2 {
                left: $scaledCenterFlame - $scaledFlameWidth * .4;
            }
            &.flame3 {
                left: $scaledCenterFlame + $scaledFlameWidth * .4;
            }
        }
    }
}

// #########################################################

@mixin dropS2() {
    @include drop1();

    .flame {
        display: none;
    }
}

@mixin drop1() {
    transform: translateY($planeHeight) rotate(15deg);
}

@mixin drop2() {
    transform: translateY($planeHeight) rotate(-15deg);
}

// #########################################################

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes flame {
    50% {transform: scale(1, 1 + $flameStretch) translateY($flameHeight * $flameStretch / 2)}
}