$flameHeight: 25.5vmin;
$flameWidth: 10vmin;
$flameStretch: 0.05;
$rocketWidth: 20vmin;
$rocketHeight: 110.6vmin;

@mixin rocket() {

    .rocket {
        display: block;
        position: absolute;
        top: 25%;
        left: 50%;
        width: $rocketWidth;
        height: $rocketHeight;
        transition: transform $dur;

        .rocketPart {
            width: 100%;
            height: 100%;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;

            animation-duration: 3s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
        }
        
        .flame {
            width: $flameWidth;
            height: $flameHeight;
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("assets/flame.svg");

            opacity: 0;
            display: none;
            $fireDelay: .5s;

            &.flame1 {
               animation-delay: $fireDelay;
            }
            &.flame2 {
                animation-delay: $fireDelay - .06s;
            }
            &.flame3 {
                animation-delay: $fireDelay - .12s;
            }
        }

        .s1 {
            background-image: url("assets/s1.svg");
        }
        
        .s2 {
            background-image: url("assets/s2.svg");
        }

        .s3 {
            background-image: url("assets/s3.svg");
        }

        .sm {
            background-image: url("assets/sm.svg");
        }

        .lm {
            background-image: url("assets/lm.svg");
        }

        .cm {
            background-image: url("assets/cm.svg");
        }
        
        .f1 {
            background-image: url("assets/f1.svg");
        }

        .f2 {
            background-image: url("assets/f2.svg");
        }

        .f3 {
            background-image: url("assets/f3.svg");
        }
    }
}

@mixin scaleRocket($scale) {
    .rocket {
        $scaledWidth: $rocketWidth * $scale;
        $scaledHeight: $rocketHeight * $scale;

        width: $scaledWidth;
        height: $scaledHeight;

        left: calc(#{$planeWidth / 2} - #{($scaledWidth / 2)});
        top: calc(#{$planeHeight / 2} - #{($scaledHeight / 2)});

        .flame {
            $scaledFlameWidth: $flameWidth * $scale;
            $scaledFlameHeight: $flameHeight * $scale;
            $scaledCenterFlame: $scaledWidth / 2 - $scaledFlameWidth / 2;

            display: block; // retriggers the animation
            top: $scaledHeight;
            width: $scaledFlameWidth;
            height: $scaledFlameHeight;

            $scaledFlameAnimation: rocketFlame + (10 * $scale);
            animation: $scaledFlameAnimation $dur infinite, fade 1s 2s 1 forwards;

            @keyframes #{$scaledFlameAnimation} {
                50% {transform: scale(1, 1 + $flameStretch) translateY($scaledFlameHeight * $flameStretch / 2)}
            }

            &.flame1 {
                left: $scaledCenterFlame;
            }
            &.flame2 {
                left: $scaledCenterFlame - $scaledFlameWidth * .4;
            }
            &.flame3 {
                left: $scaledCenterFlame + $scaledFlameWidth * .4;
            }
        }
    }
}

// #########################################################

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}