$flameHeight: 25.5vmin;
$flameWidth: 10vmin;
$flameStretch: 0.05;
$rocketWidth: 20vmin;
$rocketHeight: 110.6vmin;

@mixin rocket() {

    .rocket {
        display: block;
        //position: absolute;
        left: calc(#{$planeWidth / 2} - #{$rocketWidth / 2});
        top: calc(#{$planeHeight / 2} - #{$rocketHeight / 2});
        width: $rocketWidth;
        //height: $rocketHeight;
        transform: rotate(-15deg);
        transition: height 1s;

        z-index: $zIndexRocket;

        .rocketPart {
            width: 100%;
            display: block;
            transition: margin $dur, transform 2s;
            border: none;
            position: relative;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: transparent;

            animation-fill-mode: forwards;
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;

            .print {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: block;
                width: 100%;
                height: 100%;
            }

            &:hover {
                margin: 1vmin 0;
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }

            $escapeHeight: 7.9vmin;
            &.escape {
                background-image: url("assets/escape.svg");
                height: 7.9vmin;
            }

            $cmHeight: 3.3vmin;
            &.cm {
                height: $cmHeight;
                background-image: url("assets/cm.svg");
            }

            $lmHeight: 7vmin;
            &.lm {
                height: $lmHeight;
                background-image: url("assets/lm.svg");
            }

            $smHeight: 7.65vmin;
            $smBoxedHeight: 4.7vmin;
            &.sm {
                height: $smBoxedHeight;
                
                .print {
                    height: $smHeight;
                    background-image: url("assets/sm.svg");
                }

                .lm {
                    position: absolute;
                    left: 0;
                    height: 7vmin;
                    background-image: url("assets/lm.svg");
                }

                .flame {
                    $centerFlame: $rocketWidth / 2 - $flameWidth / 2;

                    top: $smHeight;
                    left: $centerFlame;
                }
                
                &:focus {
                    .flame {
                        display: block;
                    }
                }

                @include drop6();
            }

            &.f3 {
                height: 9.6vmin;
                background-image: url("assets/f3.svg");

                @include drop5();
            }

            &.s3 {
                height: 12.2vmin;
    
                .print {
                    height: 17vmin;
                    background-image: url("assets/s3.svg");
                }

                .flame {
                    $centerFlame: $rocketWidth / 2 - $flameWidth / 2;

                    top: 17vmin;
                    left: $centerFlame;
                }
                
                &:focus {
                    .flame {
                        display: block;
                    }
                }

                @include drop4();
            }

            &.f2 {
                height: 6.8vmin;
                background-image: url("assets/f2.svg");
                @include drop3();
            }

            &.s2 {
                height: 18.9vmin;
                
                .print {
                    height: 24.6vmin;
                    background-image: url("assets/s2.svg");
                }
                
                .flame {
                    top: 24.6vmin;

                    $centerFlame: $rocketWidth / 2 - $flameWidth / 2;
                    $offsetFlame: 2vmin;

                    &.flame1 {
                        left: $centerFlame;
                    }

                    &.flame2 {
                        left: $centerFlame - $offsetFlame;
                    }

                    &.flame3 {
                        left: $centerFlame + $offsetFlame;
                    }
                }
                
                @include drop2();
                
                &:focus {
                    .flame {
                        display: block;
                    }
                }
            }

            &.f1 {
                height: 6.1vmin;
                background-image: url("assets/f1.svg");
                @include drop1();
            }

            &.s1 {
                height: 42.3vmin;
                background-image: url("assets/s1.svg");
                .flame {
                    top: 100%;
                    display: block;

                    $centerFlame: $rocketWidth / 2 - $flameWidth / 2;
                    $offsetFlame: 4vmin;

                    &.flame1 {
                        left: $centerFlame;
                    }

                    &.flame2 {
                        left: $centerFlame - $offsetFlame;
                    }

                    &.flame3 {
                        left: $centerFlame + $offsetFlame;
                    }
                }
            }
        }
        
        .flame {
            width: $flameWidth;
            height: $flameHeight;
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("assets/flame.svg");
            
            opacity: 0;
            display: none;
            animation: flame $dur infinite, fade 1s 1s 1 forwards;

            $fireDelay: .5s;

            &.flame1 {
               animation-delay: $fireDelay;
            }
            &.flame2 {
                animation-delay: $fireDelay - .06s;
            }
            &.flame3 {
                animation-delay: $fireDelay - .12s;
            }
        }
    }
}

// #########################################################

@mixin drop6() {
    @include drop5();
    &:focus ~ .f3 {
        @include dropRight();
    }
}

@mixin drop5() {
    @include drop4();
    &:focus ~ .s3 {
        @include dropLeft();
    }
}

@mixin drop4() {
    @include drop3();
    &:focus ~ .f2 {
        @include dropRight();
    }
}

@mixin drop3() {
    @include drop2();
    &:focus ~ .s2 {
        @include dropLeft();
    }
}

@mixin drop2() {
    @include drop1();
    &:focus ~ .f1 {
        @include dropRight();
    }
}

@mixin drop1() {
    &:focus ~ .s1 {
        @include dropLeft();
        .flame {
            display: none;
        }
    }
}

@mixin dropLeft() {
    transform: translateY($planeHeight) rotate(15deg);
}

@mixin dropRight() {
    transform: translateY($planeHeight) rotate(-15deg);
}

// #########################################################

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes flame {
    50% {transform: scale(1, 1 + $flameStretch) translateY($flameHeight * $flameStretch / 2)}
}