$base: 12px;
$break-s: 720px;
$break-m: 1024px;
$break-l: 1920px;
$break-xl: 2560px;
$dur: .2s;
$durLong: 1s;

$step: 5%;
//$primary: #00C851;
$primary: #f00;
$primaryLight: rgba(0,200,81,0.5);
//$primary: #33b5e5;
//$primaryLight: rgba(51,181,229,0.5);
$contrast: #212121;
$spacing: 12px;

$zIndexMineField: 50;
$zIndexButtons: 51;

$planeWidth: 120vw;
$planeHeight: 120vh;